{% extends 'base.html' %}

{% block title %} All Blogly Posts {% endblock %}

{% block content %}
    <h1> All Blogly Posts</h1>

    <section>
        
        {% for post in posts %}

        <div>
            <h2>{{post.title}}</h2>
            <div>{{post.content}}</div>
            <small>
                <b>
                    <a href="/users/{{post.user.id}}">{{post.user.full_name}}</a>  on {{post.created_at.strftime("%a %b %Y, %I:%M %p")}}
                </b> </small>
                <div>
                    {% for tag in post.tags %}
                    <small>
                        <a href="/tags/{{tag.id}}">{{tag.name}}</a>
                    </small>
                    {% endfor%} 
                </div>
            
        </div>

        {% endfor%}       
 
    </section>
    
    

{% endblock %}