<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <nav> 
        <a href="/">Recent Posts</a> 
        <a href="/users">View Users</a> 
        <a href="/users/new">Create A User</a> 
        <a href="/tags">View Tags</a> 
        <a href="/tags/new">Create A Tag</a>
        <a href="/all-posts">View All Posts</a>
    </nav>
    
    <blockquote>
        {% block content %}





        
        {% endblock %}
    </blockquote>

</body>
</html>